* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: var(--font-headings);
}

/* STAFF CARDS */

#staffContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin: 3rem;
}


.staff-card {
    background-color: rgb(255, 254, 180);
    align-items: center;
    border: 5px solid var(--accent-color);
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.staff-card:hover {
    box-shadow: 5px 7px 7px rgba(170, 145, 0, 0.7);
}

.staff-image {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 3px solid var(--primary-color);
    object-fit: cover;
}

.staff-info {
    padding-top: 1rem;
    text-align: center;
    font-family: var(--font-body);
}

.desc {
    padding-top: 1rem;
}

h3 {
    padding-bottom: 1rem;
    font-family: var(--font-headings);
}

/* STAFF CONTROLS STYLING */
select {
    background-color: var(--accent-color);
    /* height: 2rem; */
    border: none;
    border-radius: 6px;
    font-size: 1.3rem;
    padding: 1rem;
}

button {
    background-color: var(--primary-light);
    height: 4rem;
    width: 4rem;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 6px;
    padding: 7px;
    margin-top: 1rem;
    font-family: var(--font-headings);
    font-weight: bold;
    font-size: 1.2rem;
}

.view-toggle {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.filter-group {
    justify-content: center;
    justify-items: center;
    align-items: center;
    /* gap: 1rem; */
}

.grid-view {
    display: grid;
}

.staff-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

option {
    background-color: white;
}

/* GRID - LIST VIEW STYLING */


/* MODAL CSS */
dialog {
    height: 50%;
    background-color: var(--primary-light);
    padding: 1rem;
    border-radius: 6px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.4);;
}