* {
    font-family: "Roboto", sans-serif;
}

body {
    /* background-color: yellow; */
}

/****** HEADER ******/
Header {
    display: grid;
    grid-template-columns: 30px auto 40px;
    border-bottom: solid 1px black;
    align-items: end;
    padding: 5px 0 5px 10px;
    column-gap: 20px;
}

header img {
    display: block;
    width: 100%; /* of the container */
    height: auto;
    
}

header span {
    color: #5e4312ff;
    font-weight: bold;
}

/****** TOGGLE ICONS ******/
.view-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

.view-toggle button {
    background: #f1caf1;
    width: 50px;
    height: 50px;
    border: 1px solid #4B4E6D;
    border-radius: 6px;
    cursor: pointer;
}

.view-toggle button img {
    width: 25px;
    height: 25px;
}

/* showing active button */
.view-toggle button.active {
    background-color: #4B4E6D;
    color: white;
}

/****** DEFAULT VIEW ******/
.members {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
}

/****** GRID VIEW ******/
.members.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
}

.member-card {
    background-color: #CD9FCC;
    border-bottom: 5px solid #4B4E6D;
    margin: 1rem 1rem;
    padding: 1rem;
    border-radius: 6px;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 1rem;
    word-wrap: break-word;
    overflow-wrap: normal;
    /* width: 200px; */
}

.member-card img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

/****** LIST VIEW ******/
.members.list {
    display: flex;
    flex-direction: column;
}

.members.list .member-card {
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    height: 13rem;
    word-wrap: break-word;
    overflow-wrap: normal; 
}

.members.list.member-image {
    display: flex;
}

.members.list.member-card img {
    width: 2rem;
    height: auto;
    align-items: center;
    justify-content: center;
    align-self: center;
}

