#discoverGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3rem;
    padding: 1rem;
}

.card {
    border: 2px solid #4B4E6D;
    background-color: #ffe8ff;
    padding: 1rem;
    border-radius: 6px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.card figure {
    margin: 0;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 6px;
}

address {
    margin-top: 1rem;
}

h2 {
    color: #4B4E6D;
    text-align: center;
}

.visit-message {
    text-align: center;
    color: #4B4E6D;
    font-weight: bold;
    font-size: larger;
}

/****** CARD HOVER ******/
