* {
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/****** HERO SECTION ******/
.hero-image img {
    width: 100%;;
}

.hero {
    position: relative;
}

#call-to-action {
    position: absolute;
    bottom: 90px;
    left: 90px;
    background-color: #CD9FCC;
    border: 2px solid white;
    padding: 10px;
    border-radius: 6px;
    box-shadow: inset 2px 3px 10px #4e254eb4;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.25s ease;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

#call-to-action:hover {
    transform: scale(1.1);
}

/****** SPOTLIGHT ******/
#spotlight {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* height: 100px; */;
}

#spotlight > div > div.spotlight-image img {
    height: 50px;
    width: 50px;
}

.spotlight-section {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 2rem 1rem;
    gap: 1rem;
}

.spotlight-header {
    background-color: #4B4E6D;
    height:max-content;
    color: white;
    padding: 2.5rem 1rem 2.5rem 1rem;
    border-radius: 0 6px 6px 0;
}

.spotlight-card {
    border-bottom: 2px solid #4B4E6D;
    border-radius: 6px;
    background-color: #CD9FCC;
    padding: 10px;
}


/****** EVENT CARDS ******/

.upcoming {
    margin-left: 1.5rem;
    font-size: 2rem;
}

.current-events {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    /* width: 90%; */
    gap: 1rem;
    padding: 1rem;
}

.event {
    padding: 10px;
    border-radius: 6px 6px 0 0;
}

/* div.event-container {
    background-color: #CD9FCC;
} */

.event h2 {
    background-color: #4B4E6D;
    color: white;
    padding: 10px;
    border-radius: 6px 6px 0 0;
}

.event-container {
    border: 2px solid #4B4E6D;
    border-radius: 0 0 6px 6px;
    background-color: #ffecffb9;
}

.event-container img {
    width: 100%;
    height: 200px;    
    object-fit: cover;   
}

.event-container p {
    padding: 10px;
}

/****** FORECAST ******/

.forecast-details {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 2rem;
    margin: 1rem;
}

.forecast-details h2 {
    background-color: #4B4E6D;
    border-radius: 6px 6px 0 0;
    color: white;
    padding: 10px;
}

.forecast {
    padding: 10px;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    text-align: center;
    border-radius: 0 0 6px 6px;
}

.forecast h4 {
    font-size: 3.5rem;
}

/****** 3 DAY FORECAST  ******/

#threeDayFore > div > div {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 2rem;
    text-align: center;
}

#threeDayFore > div > div > h4 {
    font-size: larger;
}