@media (max-width: 600px) {
    .members {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .member-card {
        grid-template-columns: 1fr; 
        text-align: center;
        padding: 1rem;
        width: 100%;
        height: auto;
    }

    .member-card img {
        width: 120px;
        height: 120px;
        object-fit: contain;
        margin: 0 auto;
        display: block;
    }

}