header {
    display: grid;
    grid-template-columns: 30px auto 300px;
    border-bottom: solid 1px black;
    align-items: end;
    padding: 5px 0 5px 10px;
    column-gap: 20px;
}

header img {
    display: block;
    width: 100%; /* of the container */
    height: auto;
    
}

header span {
    color: #5e4312ff;
}

nav .nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
}

nav .nav-links a {
    text-decoration: none;
    color: #4B4E6D;
}

/****** TOGGLE ICONS ******/
.view {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

.view-toggle button {
    background: #f1caf1;
    width: 50px;
    height: 50px;
    border: 1px solid #4B4E6D;
    border-radius: 6px;
    cursor: pointer;
}

.view-toggle button img {
    width: 40px;
    height: 40px;
}

/* showing active button */
.view-toggle button.active {
    background-color: #4B4E6D;
    color: white;
}