* {
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/****** HERO SECTION ******/
.hero-image img {
    width: 100%;
}

.hero {
    position: relative;
}

#call-to-action {
    position: absolute;
    bottom: 90px;
    left: 90px;
    background-color: #56a54b;
    border: 2px solid #EC9F05;
    padding: 10px;
    border-radius: 6px;
    box-shadow: inset 2px 3px 10px #4e254eb4;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.25s ease;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    font-family: Josefin Sans, sans-serif;
}

#call-to-action:hover {
    transform: scale(1.1);
}

/****** EXPLORE SECTION ******/
#explore {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
    padding-left: 10px;
    padding-right: 10px;
}

.card h2 {
    background-color: #56a54b;
    color: white;
    padding: 0.5rem;
    border-radius: 6px 6px 0 0;
    font-family: Outfit, sans-serif;
}

.card-details figure img {
    width: 100%;
    height: 200px;
}

.card-details figure figcaption {
    font-family: Mulish, sans-serif;
    font-weight: bold;
}
